<div class="">
    <div class="flex flex-row min-h-screen justify-between mx-12 my-12">
        <div class=" bg-gray-100 border w-2/3 flex flex-col">
            <h2 class="mx-3 my-3 border-b-4 inline-block text-xl">THUÊ XE</h2>
            {{#each motor}}
            <div class="flex border mx-3 my-3 justify-between">
        
                <div class="flex flex-row">
                    <div>
                        <img class="p-8 object-contain h-48 w-80" src="/assets/img/cho-thue-xe-may-ha-noi.png" alt="product image" />
                    </div>
                        
                    <div class="flex flex-col my-3 ml-6">
                        <p class="mt-3 text-3xl">{{this.name}}</p>
                        <p class="text-sm mt-1">- Mũ bảo hiểm 1/2 </p>
                        <p class="text-sm mt-1">- Áo mưa 1 lần</p>
                        <p class="text-sm mt-1">- Bảo hiểm xe máy</p>
                        <p class="text-sm mt-1">- Đăng ký xe photo</p>
                        <p class="text-sm mt-1">- Dịch vụ cứu hộ</p>
                    </div>
                </div>

                <div class="my-3">
                    <form action="/reservation/motorcycles" method="post">
                        <input type="text" id="id" name="id" class="hidden" value="{{this._id}}">
                        <div class="flex flex-col justify-end">
                            <div class="mr-3 mt-3 font-medium text-right">{{this.price_per_day}}₫/Ngày</div>
                            <div class="mr-3 my-1 text-right">
                                không bao gồm thuế và bảo hiểm
                            </div>
                            
                            <div class="mr-3 my-1 text-right">
                                <button class="bg-yellow-400 font-medium  px-5 py-2.5 text-center">THUÊ XE</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {{/each}}
        </div>
        <div class=" ml-6 bg-gray-100 border w-96 flex flex-col">
            <div class="h-64 mx-4 my-4 border">
                <div class="mx-4 my-2 ">
                    <p class="mt-3 text-xl font-bold">Thông tin nhận xe</p>
                    <p class="text-sm mt-1">{{schedule.start_day}}</p>
                    <p class="text-sm mt-1">Vị Trí: {{schedule.pickup_location}}</p>
                </div>
                <div class="mx-4 my-2 ">
                    <p class="mt-3 text-xl font-bold">Thông tin trả xe</p>
                    <p class="text-sm mt-1">{{schedule.end_day}}</p>
                    <p class="text-sm mt-1">Vị Trí: {{schedule.return_location}}</p>
                </div>
            </div>
            <div class="h-48 mx-4 my-4 border">
                Thông tin nhận xe
            </div>
        </div>
    </div>
</div>